<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Colony_iPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>164B65AE1FB0D8A700416B03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164B65C41FB0D8A800416B03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164B65CF1FB0D8A800416B03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
